*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: $font-primary;
    font-size: 13px;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden; 
}


//Exercise 1
@import 'pages/exercise1/exercise1';

//Exersie 2
@import 'pages/exercise2/exercise2';