// Screen sizes
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1240px;

// Fonts
$font-base:	Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-primary:	'Montserrat', $font-base;
$color-white: #fff;
$color-black: #000;